.nav {
    height: 100px;
    position: fixed;
    z-index: 5;
    width: 100%;
    font-family: "Julius Sans One", sans-serif;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: auto;
        p {
            font-weight: bold;
            color: #fff;
            letter-spacing: 2px;
            cursor: pointer;
        }
    }
}
